- var windows_class = 'ui icon left pointing dropdown scrolling'
- var osx_class = 'ui icon right pointing dropdown scrolling'

div.locale_selector(style= platform === 'win32' ? 'left: 10px;' : 'right: 3px;')
  div#locals_select(class=platform === 'win32' ? windows_class : osx_class)
        
    input(type='hidden', name='locale')
    i#locale_flag
    
    .menu
      .header
        i.world.icon
        | #{T.t('select_language')}
      .divider
      .item(data-value='en')
        i.gb.flag
        | English  
      .item(data-value='bg')
        i.bg.flag
        | Bulgarian
      .item(data-value='zh-CN')
        i.cn.flag
        | Chinese Simplified
      .item(data-value='zh-TW')
        i.cn.flag
        | Chinese Traditional
      .item(data-value='cs')
        i.cz.flag
        | Czech
      .item(data-value='nl')
        i.nl.flag
        | Dutch
      .item(data-value='fr')
        i.fr.flag
        | French
      .item(data-value='de')
        i.de.flag
        | German
      .item(data-value='el')
        i.gr.flag
        | Greek
      .item(data-value='he')
        i.il.flag
        | Hebrew
      .item(data-value='hu')
        i.hu.flag
        | Hungarian
      .item(data-value='id')
        i.id.flag
        | Indonesian
      .item(data-value='it')
        i.it.flag
        | Italian
      .item(data-value='ja')
        i.jp.flag
        | Japanese
      .item(data-value='ko')
        i.kr.flag
        | Korean
      .item(data-value='ms')
        i.my.flag
        | Malay
      .item(data-value='pl')
        i.pl.flag
        | Polish
      .item(data-value='pt')
        i.pt.flag
        | Portuguese
      .item(data-value='ro')
        i.ro.flag
        | Romanian
      .item(data-value='ru')
        i.ru.flag
        | Russian
      .item(data-value='es')
        i.es.flag
        | Spanish
      .item(data-value='th')
        i.th.flag
        | Thai
      .item(data-value='tr')
        i.tr.flag
        | Thurkish
      .item(data-value='vi')
        i.vn.flag
        | Vietnamese
