- var windows_class = 'ui icon left pointing dropdown scrolling'
- var osx_class = 'ui icon right pointing dropdown scrolling'

div.locale_selector(style= platform === 'win32' ? 'left: 10px;' : 'right: 3px;')
  div#locals_select(class=platform === 'win32' ? windows_class : osx_class)
        
    input(type='hidden', name='locale')
    i#locale_flag
    
    .menu
      .header
        i.world.icon
        span#select_language_text #{T.t('select_language')}
      .divider
      //- List is sorted alphabetically first by English characters and then others.
      .item(data-value='en')
        i.gb.flag
        | English
      // Indonesian
      .item(data-value='id') 
        i.id.flag
        | Bahasa Indonesia
      // Bosnian
      .item(data-value='bs') 
        i.ba.flag
        | Bosanski
      // Catalan
      .item(data-value='ca') 
        i.es.flag
        | Català
      // Czech
      .item(data-value='cs') 
        i.cz.flag
        | čeština
      // Danish
      .item(data-value='da') 
        i.dk.flag
        | Danske
      // German
      .item(data-value='de') 
        i.de.flag
        | Deutsch
      // Spanish
      .item(data-value='es') 
        i.es.flag
        | Español
      // French
      .item(data-value='fr')
        i.fr.flag
        | Français
      // Croatian
      .item(data-value='hr') 
        i.hr.flag
        | Hrvatska
      // Italian
      .item(data-value='it')
        i.it.flag
        | Italiano
      // Latvian
      .item(data-value='lv')
        i.lv.flag
        | Latvijā
      // Lithuanian
      .item(data-value='lt')
        i.lt.flag
        | Lietuvos
      // Hungarian
      .item(data-value='hu')
        i.hu.flag
        | Magyar
      // Malay
      .item(data-value='ms')
        i.my.flag
        | Melayu
      // Dutch
      .item(data-value='nl')
        i.nl.flag
        | Nederlandse
      // Norwegian
      .item(data-value='no')
        i.no.flag
        | Norsk
      // Polish
      .item(data-value='pl')
        i.pl.flag
        | Polskie
      // Portuguese
      .item(data-value='pt')
        i.pt.flag
        | Português
      // Brazilian Portuguese
      .item(data-value='pt-BR')
        i.br.flag
        | Português Brasileiro
      // Romanian
      .item(data-value='ro')
        i.ro.flag
        | Român
      // Slovenian
      .item(data-value='sl')
        i.si.flag
        | Slovenščina
      // Slovak
      .item(data-value='sk')
        i.sk.flag
        | Slovenský
      // Serbian
      .item(data-value='sr')
        i.cs.flag
        | Srpski
      // Finnish
      .item(data-value='fi')
        i.fi.flag
        | Suomi
      // Swedish
      .item(data-value='sv')
        i.se.flag
        | Svenska
      // Vietnamese
      .item(data-value='vi')
        i.vn.flag
        | Tiếng Việt
      // Turkish
      .item(data-value='tr') 
        i.tr.flag
        | Türk
      // Arabic
      .item(data-value='ar')
        i.eg.flag
        | العربية
       // Bulgarian
      .item(data-value='bg')
        i.bg.flag
        | български
      // Chinese Simplified
      .item(data-value='zh-CN')
        i.cn.flag
        | 简体中文
      // Chinese Traditional
      .item(data-value='zh-TW')
        i.tw.flag
        | 繁體中文
      // Georgian
      .item(data-value='ka')
        i.ge.flag
        | ქართული
      // Greek
      .item(data-value='el')
        i.gr.flag
        | Ελληνικά
      // Hebrew
      .item(data-value='he')
        i.il.flag
        | עברית
      // Japanese
      .item(data-value='ja')
        i.jp.flag
        | 日本語
      // Korean
      .item(data-value='ko')
        i.kr.flag
        | 한국어
      // Russian
      .item(data-value='ru')
        i.ru.flag
        | русский
      // Thai
      .item(data-value='th')
        i.th.flag
        | ภาษาไทย
