//- Delete button modal
#delete_notification.ui.basic.modal
  i.close.icon
  .header
    | #{T.t('deleting_old_builds')}
  
  .image.content
    #progress-icon.image
      .ui.active.large.inline.loader
