<div id="delete_notification" class="ui basic modal"><i class="close icon"></i>
  <div class="header">$!{data.T.t('deleting_old_builds')}</div>
  <div class="image content">
    <div id="progress-icon" class="image">
      <div class="ui active large inline loader"></div>
    </div>
  </div>
</div>
