.one.column.row
  .breaking_changes
    
    h3 #{T.t('manual_update')}
    
    br
    img(src='img/pug.png')
      
    p
      | #{T.t('breaking_changes_1')}
    
    br
    button#release_button.ui.green.button #{T.t('download')}
