<div class="one column row">
  <div class="complete">
    <h3>$!{data.T.t('done')}</h3><img src="img/cat.gif"/><br/><br/><br/>
    <button id="back_to_main" class="ui blue button">$!{data.T.t('back')}</button>
    <button id="start_league" class="ui green button">$!{data.T.t('start_league')}</button><br/><br/>
    <div class="ui horizontal divider">
      <h2>$!{data.T.t('na')}</h2>
    </div>
    <div class="progresslog">
      <div id="not_available_log"></div>
    </div>
  </div>
</div>
