.one.column.row
  .complete
    h3 Done!
    img(src='img/celebrate.png')
      
    br
    br
    br
      
    button#back_to_main.ui.blue.button Back
    button#start_league.ui.green.button Start League of Legends
    
    br
    br
      
    .ui.horizontal.divider
      h2 Not Available
      
    .progresslog
      #not_available_log
