.one.column.row
  .complete
    h3 #{T.t('done')}
    img(src='img/celebrate.png')
      
    br
    br
    br
      
    button#back_to_main.ui.blue.button #{T.t('back')}
    button#start_league.ui.green.button #{T.t('start_league')}
    
    br
    br
      
    .ui.horizontal.divider
      h2 #{T.t('na')}
      
    .progresslog
      #not_available_log
