.one.column.row
  .error
    h3 Something broke...
    
    br
    img(src='img/sad.png')
    
    br
    p
      | Did you try running as admin? 
      br
      |       Or your antivirus/firewall is blocking Championify? 
      br
      |       Internet on?
    p
      | If not, I need your help in fixing and improving Championify! With your permission by hitting "Send Logs" I can look over the log file and see what went wrong on your system. No personal information is ever sent. Thanks!
    
    br
    button#upload_log.ui.button.green Upload Log
