<div class="one column row">
  <div class="breaking_changes">
    <h3>$!{data.T.t('manual_update')}</h3><br/>
    <img src="img/package.png"/>
    <p>$!{data.T.t('breaking_changes_1')}</p><br/>
    <button id="release_button" class="ui green button">$!{data.T.t('download')}</button>
  </div>
</div>
