.one.column.row
  .updating
    h3 #{T.t('downloading_updates')}
    
    br
    img(src='img/loading.gif')
    
    br
    br
  
    #update_progress_bar.ui.indicating.progress(data-percent='0')
      .bar(style='transition-duration: 300ms; -webkit-transition-duration: 300ms;')
        .progress 0%
  
    p#update_current_file
