<div class="one column row">
  <div class="updating">
    <h3>$!{data.T.t('downloading_updates')}</h3>
    <br/><img src="img/logo.png"/><br/><br/>
    <div id="update_progress_bar" data-percent="0" class="ui indicating progress">
      <div style="transition-duration: 300ms; -webkit-transition-duration: 300ms;" class="bar">
        <div class="progress">0%</div>
      </div>
    </div>
    <p id="update_current_file"></p>
  </div>
</div>
