.button {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 28px #000;
  cursor: pointer;

  &:hover,
  &:focus {
    animation: button_pulse 1.5s;
    outline: none;
    filter: brightness(1.3);
  }
}

.button_outer {
  background: #5d471d;
  background: linear-gradient(to bottom, #decda1, #735821);
  padding: 2px !important;
}

.button_inner {
  background: #16181d;
  color: #d8cfbd;
  display: block;
  font-family: "Beaufort", serif;
  font-size: 0.75em;
  font-weight: 400;
  text-transform: uppercase;
  padding: calc(0.625em + 1px) calc(1.4em + 1px);
}

