vendor-prefixes ?= webkit official
@import 'nib'

// Presets
elemWidth = 95%
background_color = #222222
text_color = #eeebeb

// Defaults
@font-face
  font-family 'Lato'
  font-style normal
  font-weight 400
  src local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato.woff2') format('woff2')
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 300
  src local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto_light.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


// Merge
@import osx_buttons
@import win_buttons
@import update
@import 'error'
@import 'main'
@import complete

body
  overflow hidden
  user-select none
  background-image url('../img/background.png')
  font-family 'Lato'
  background-color background_color
  color text_color
  -webkit-app-region drag

// Safety for when switching between OSX and Windows buttons
header
  height 20px

button
  -webkit-app-region no-drag
a
  -webkit-app-region no-drag


// Helpers
.hidden
  display none

#main_container
  top 5px
  position relative

// Banner
.banner
  text-align center

// Footer
footerBottom = 2px
footerSide = 10px

footer
  -webkit-app-region no-drag
  position absolute
  display block
  background-color background_color
  height footerBottom + 22px
  width 100%
  bottom 0px
  z-index 10

.github
  bottom footerBottom
  left footerSide
  position absolute

.version
  bottom footerBottom
  right footerSide
  position absolute
  color #989898
