vendor-prefixes ?= webkit official // @stylint ignore
@import 'nib'

// Presets
$background_color = #222222
$text_color = #eeebeb

// Defaults
@font-face
  font-family 'Lato'
  font-style normal
  font-weight 400
  src local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000


// Merge
@import osx_buttons
@import win_buttons
@import update
@import 'error'
@import 'main'
@import complete
@import breaking_changes

body
  background-image url('../img/background.png')
  background-color $background_color
  color $text_color
  font-family 'Lato'
  overflow hidden
  user-select none

// Safety for when switching between OSX and Windows buttons
header
  height 20px
  -webkit-app-region drag // @stylint ignore

// Helpers
.hidden
  display none

// Locale selector
.locale_selector
  .ui.right.pointing.dropdown>.menu:after
    top 5px

  .item
    -webkit-app-region no-drag // @stylint ignore// @stylint ignore

  .ui.dropdown .menu
    -webkit-app-region no-drag // @stylint ignore// @stylint ignore

  .ui.dropdown .scrolling.menu, .ui.scrolling.dropdown .menu
    max-height 400px
    -webkit-app-region no-drag // @stylint ignore// @stylint ignore

  -webkit-app-region no-drag // @stylint ignore// @stylint ignore
  position absolute
  top 3px

// Banner
.banner
  position relative
  text-align center
  -webkit-app-region drag // @stylint ignore

  .ui.divider
    margin .23rem 0

// Top logo
.top_logo
  height 50px
  margin-bottom 2px
  width 50px

// Footer
$footer_bottom = 2px
$footer_side = 6px

footer
  background-color $background_color
  bottom 0
  display block
  height $footer_bottom + 20px
  position absolute
  width 100%
  z-index 10

  > *
    a
      cursor pointer
      &:hover
        color $text_color


.github
  text-align center

.donate
  bottom $footer_bottom
  left $footer_side
  position inherit

  i.icon
    margin 0

.championify_version
  bottom $footer_bottom
  right $footer_side
  position absolute
  color #989898
  cursor default
