// Browse/Inputs
.browse_title
  margin-bottom 5px
  margin-top -10px
  text-align center

.lol_dir_input
  -webkit-app-region no-drag // @stylint ignore

.lol_dir_input_msg
  height 25px
  margin-top -15px
  text-align center

  .yellow
    color #fbbd08

  .green
    color #21ba45

  .red
    color #db2828

// Options
.options
  -webkit-app-region no-drag // @stylint ignore

  .rift_source
    text-align center
    z-index 2

    .ui.selection.dropdown
      line-height .5em
      height 30px
      min-height .7142em

    .ui.selection.dropdown>.dropdown.icon
      padding .48571429em

    .ui.selection.active.dropdown .menu
      -webkit-app-region no-drag // @stylint ignore

  .with_dropdown
    display flex
    flex-direction row
    justify-content space-between

    .ui.icon.button
      padding .05em
    .ui.icon.button>.icon
      vertical-align middle
    .ui.button
      height 20px
    .ui.bottom.pointing.dropdown>.menu
      margin 0 0 .1em

  .left
    margin-bottom 5px

    label
      color $text_color
    label:hover
      color rgba($text_color, .5)
    label:after
      color $text_color
    input:focus~label
      color $text_color

  .ui.disabled.checkbox label
    color $text_color
    text-decoration line-through

// Versions
.versions
  color #c8c1c1
  text-align center

  div
    display block
  span
    color $text_color
    font-weight bold


// Submit/Progress
.submit_btns
  margin-top 20px
  text-align center

.status
  text-align center

  h2
    color $text_color

  .ui.progress .bar
    height 1.5em
  .ui.progress:last-child
    margin 0 0 .3em
  .ui.divider
    margin .8rem 0

.progresslog
  height 170px
  margin-top 0
  overflow hidden
  text-align center

  ::-webkit-scrollbar // @stylint ignore
    display none

  div
    height 100%
    overflow auto
