// Browse/Inputs
.browse_title
  margin-bottom 5px
  text-align center

.lol_dir_input_msg
  height 25px
  margin-top -15px
  text-align center

  .yellow
    color #fbbd08

  .green
    color #21ba45

  .red
    color #db2828

// Options
.options
  .rift_source
    margin-bottom 10px
    margin-top 10px
    text-align center
    z-index 2

  .ui.search.dropdown .menu
    max-height 15rem !important // @stylint ignore

  .ui.label>img
    height 12px !important // @stylint ignore
    margin-right 2px
    vertical-align initial !important // @stylint ignore

  .ui.selection.dropdown .menu>.item
    padding .38571429rem 1.14285714rem !important // @stylint ignore

  .ui.dropdown .menu>.item>img
    vertical-align text-bottom !important // @stylint ignore

  .with_dropdown
    display flex
    flex-direction row
    justify-content space-between

    .ui.icon.button
      padding .05em
    .ui.icon.button>.icon
      vertical-align middle
    .ui.button
      height 20px
    .ui.bottom.pointing.dropdown>.menu
      margin 0 0 .1em

  .left
    margin-bottom 5px

    label
      color $text_color
    label:hover
      color rgba($text_color, .5)
    label:after
      color $text_color
    input:focus~label
      color $text_color

  .ui.disabled.checkbox label
    color $text_color
    text-decoration line-through

// Versions
.versions
  color #c8c1c1
  margin-left 120px

  div
    display block
  span
    color $text_color
    font-weight bold
    padding-left 3px


// Submit/Progress
.submit_btns
  text-align center

  button
    padding-top 5px

.status
  text-align center

  h2
    color $text_color

  .ui.progress .bar
    height 1.5em
  .ui.progress:last-child
    margin 0 0 .3em
  .ui.divider
    margin .8rem 0

.progresslog
  margin-top 0
  overflow hidden
  // text-align center

  ::-webkit-scrollbar // @stylint ignore
    display none

  div
    height 100%
    overflow auto
