vendor-prefixes ?= webkit official
@import 'nib'

elemWidth = 95%

// Defaults
body
  overflow hidden
  user-select none

// Helpers
.hidden
  display none


// Main
.banner
  text-align center

.lolDirInput
  margin auto
  width elemWidth

.lolDirInputMsg
  text-align center
  margin-top -15px
  height 25px
  width elemWidth

  .yellow
    color yellow

  .green
    color #0ce3ac

.options
  position relative
  left 4%

.submitBtn
  text-align center
  margin-top 20px

.status
  text-align center

#progress
  height 190px
  overflow hidden


// Footer
footerBottom = 2px
footerSide = 10px

.github
  bottom footerBottom
  left footerSide
  position absolute

.version
  bottom footerBottom
  right footerSide
  position absolute
