.osx_buttons
  $first = 3px
  $second = $first + 20px
  $third = $first + 40px

  $close = #FF5F52
  $close_border = #E33E32
  $minimize = #FFBE05
  $minimize_border = #E2A100
  $maximize = #15CC35
  $maximize_border = #17B230

  img
    height 12px
    position fixed
    visibility hidden
    width 12px
    -webkit-app-region no-drag // @stylint ignore// @stylint ignore

  &:hover img
    visibility visible
    -webkit-filter brightness(92%)

  .clickable_div
    height 10px
    width 10px

  .sys_button
    border-radius 50%
    color black
    cursor default
    height 12px
    margin-left 5px
    position absolute
    top 8px
    width 12px

  .close
    background $close
    left $first

  .minimize
    background $minimize
    left $second

  .maximize
    opacity .4
    background $maximize
    left $third
