.win_buttons
  $button_height = 20px
  $initial_right = 0
  $close_width = 50px
  $minmax_width = 35px
  $hover_fade_time = .05s

  top 0
  height $button_height

  .sys_button
    -webkit-app-region no-drag // @stylint ignore

  img
    position relative

  .close
    position absolute
    background-color #c75050
    width $close_width
    height $button_height
    right $initial_right
    transition all $hover_fade_time ease-in-out

    &:hover
      background-color #e04343
      transition all $hover_fade_time ease-in-out

    img
      height 9px
      left 20px
      margin-bottom 1px
      width 9px

  .maximize
    position absolute
    width $minmax_width
    height $button_height
    right $close_width + $initial_right

    img
      height 11px
      left 12px
      opacity .6
      width 11px


  .minimize
    position absolute
    width $minmax_width
    height $button_height
    right $close_width + $minmax_width + $initial_right
    transition all $hover_fade_time ease-in-out

    &:hover
      background-color #3665b3
      transition all $hover_fade_time ease-in-out

    img
      height 25%
      left 13px
      width 25%
