// TODO Switch to downloading Roboto font. https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese
@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");

@font-face {
  font-family: "Beaufort";
  font-style: normal;
  font-weight: 400;
  src: local("Beaufort"), url("../../assets/fonts/beaufort.woff2") format("woff2");
  /* stylelint-disable-next-line value-keyword-case */
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  background-image: url("./background.jpg");
  background-position: -600px 0.1px;
  color: #a09b8c;
  font-family: "Roboto", sans-serif !important; // TODO Fix
  font-weight: 400;
}
