<div class="row">
  <div class="error">
    <h4>Something broke...</h4>
    <br />
    <img src="img/sad.png" />
    <br />

    <p>
      I need your help in fixing and improving Championify! Please take a moment to hit the "Send Log" button, then send me the link that opens in your Browser on Reddit <a id="reddit_msg">/u/DustinHeroin</a>, or if you're tech savvy and can understand the log, my <a id="github_issues">Github issues</a>. Thanks!
    </p>

    <br />

    <button id="upload_log" class="btn btn-success">Upload Log</button>

  </div>
</div>
